@using Microsoft.AspNet.Identity
<header id="header">
    <h1>@Html.ActionLink("The Launch Link", "Index", "Home")</h1>
    <nav id="nav">
        <ul>


            @Html.Partial("_LoginPartial")

        </ul>
    </nav>
</header>
