			<!-- Footer -->
<footer id="footer" style="background-color:#2d2b2b">
    <ul class="icons" style="font-size:1.2em">
        <li>
            <a class="icon fa-twitter " href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.thelaunchlink.com&text=Check%20this%20site" target="_blank">


            </a>
        </li>
        <li>
            <a class="icon  fa-linkedin " href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.thelaunchlink.com/&title=check%20the%20launch%20link&summary=some%20summary%20if%20you%20want&source=launchlink.com" target="_blank">

            </a>
        </li>        <li>
            <a class="icon  fa-facebook " href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.thelaunchlink.com" target="_blank">


            </a>
        </li><li>
            <a class="icon  fa-google-plus" href="https://plus.google.com/share?url=https%3A%2F%2Fwww.thelaunchlink.com" target="_blank"></a>
        </li>
        @*<li>
            <a class="icon  fa-envelope" href="https://plus.google.com/share?url=https%3A%2F%2Fwww.thelaunchlink.com" target="_blank"></a>
        </li>*@
</ul>
    <ul class="copyright">
        <li>&copy; The Launch Link. @DateTime.Now.Year</li>
    </ul>
</footer>
