@model test_mvc_website.App_Data.CollegeProfessional

<body>
    <div id="page-wrapper">
        <!-- Header -->
        @Html.Partial("_defaultHeader")
        @{
            ViewBag.Title = "How it works";
        }


        <section id="main" class="container">
            <header>
                <h2>How it works</h2>
                <p>under construction...</p>
            </header>
        </section>



        <!--footer-->
        @Html.Partial("_footer")
    </div>


</body>