
<body>
    <div id="page-wrapper">
        <!-- Header -->
        @Html.Partial("_defaultHeader")
        @{
            ViewBag.Title = "How it works";
        }


        <section id="main" class="container">
            <header>
                <h2>How it works</h2>
                <p>Our managed marketplace is solving the “too many high ROI analytics projects and not enough in-house resources” problem while setting top-tier university talent up for success</p>
            </header>


            <section class="box special">
                <div class="12u">
                    <section>
                        <p>
                            <span class="image left">
                                <span class="icon major fa-area-chart accent2"></span>
                            </span>
                            <h3 class="align-left">1. Post a Project – Tell us your goals</h3>

                        <p class="align-left">
                            Tell us a little bit about your project goals, tools and required experience and then determine if you would like to launch a project or launch a competition!
                        </p>

                    


                        <p>
                            <span class="image left">
                                <span class="icon major fa-search accent1"></span>
                            </span>
                            <h3 class="align-left">2. Bidding Process – Linking with the best talent </h3>

                        <p class="align-left">
                            After the project has been submitted it will join the marketplace and solicit bids from university talent. Once all bids have been received the business professional will make their selection based on the best bid for them.
                        </p>

                        <p>
                            <span class="image left">
                                <span class="icon major fa-bar-chart accent3"></span>
                            </span>
                            <h3 class="align-left">3. Project Cockpit – Project management control center</h3>
                        <p class="align-left">
                            Our proprietary work environment that  provides you all of the tools needed for a speedy launch and successful completion of the project.
                            Our pre project package takes care of the legal stuff like NDA’s and SOW’s while our work environment allows you to collaborate, set milestones and checkpoints and share findings.
                        </p>
                       
                        <p>
                            <span class="image left">
                                <span class="icon major fa-dollar accent5"></span>
                            </span>
                            <h3 class="align-left">4. Project Completion – Pay when you’re satisfied </h3>
                        <p class="align-left">
                            The launch link handles all payments and will pay the consultants once the work is completed less our service fee. At time of project launch ,once the business selects the bid, we’ll take payment via credit card or ach and hold it in escrow until the project is complete
                        </p>

                       
                        <p>
                            <span class="image left">
                                <span class="icon major fa-check accent4"></span>
                            </span>
                            <h3 class="align-left">5. Feedback – Rate the consultants</h3>
                        <p class="align-left">
                            Once the project is complete the business professional will have the opportunity to provide feedback about the consultant. This rating will be a part of their profile and will show future potential businesses how good the consultants are. It will help them get future bids and even assist in employment after graduation.
                        </p>
                        


                    </section>
                </div>
            </section>
        </section>
        <!--footer-->
        @Html.Partial("_footer")
    </div>


</body>